[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
streamlit = "*"
opencv-python = "*"
opencv-contrib-python = "*"
opencv-python-headless = "*"
numpy = "*"
pillow = "*"

[dev-packages]

[requires]
python_version = "3.11"
