[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
streamlit = "*"
opencv-python-headless = "*"
numpy = "*"
pillow = "*"
scikit-learn = "*"

[dev-packages]
opencv-python = "*"

[requires]
python_version = "3.11"
